# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
.htaccess
.DS_Store
/sites/all/modules/.DS_Store
/.idea/copyright
/.idea/workspace.xml
/.idea/acim_website.iml
